@font-face {
  font-family: Avenir;
  src: url("AvenirNextLTProDemi.otf");
}

body {
  font-family: Avenir;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #1b1e1f;
  padding-right: 10%;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: Avenir;
}

a:hover {
  text-decoration: underline;
}

h2 {
  text-align: center;
  color: #0e5c89;
  font-size: 28px;
}

h5 {
  font-size: 20px;
  font-weight: 200;
}

footer {
  background-color: #e8e8e8;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 29px;
  padding-bottom: 29px;
}

#container {
  align-items: center;
  justify-content: center;
  display: flex;
}

#subscribe {
  background-color: white;
}

.appimg {
  height: 80px;
  width: 80px;
  padding-top: 64px;
}

.subscribeh2 {
  color: #0e5c89;
  margin-bottom: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 88px;
}

.signup {
  display: block;
  text-align: center;
  margin-bottom: 90px;
}

.text {
  padding-left: 12%;
  color: white;
  padding-bottom: 230px;
  padding-top: 32px;
  text-align: center;
  font-size: 40px;
}

#landingLogo {
  padding-top: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#loginLink {
  color: white;
  position: absolute;
  text-decoration: none;
  padding-top: 32px;
  margin-right: 50px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

#loginLink:hover {
  text-decoration: underline;
}

#skylineImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/heroBuilding.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

#apps {
  background-color: #2f2e2e;
}

#btn {
  background-color: #0e5c89;
  color: #ffffff;
  width: 165px;
  cursor: pointer;
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}

#btn:hover {
  border: 1px solid black;
}

#email-signup {
  padding-left: 20px;
  width: 276px;
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}

.ourapps {
  padding-top: 80px;
  color: white;
  text-align: center;
}
.row {
  margin: 0 -5px;
  background-color: #2f2e2e;
}

.column {
  float: left;
  width: 15%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  padding-bottom: 80px;
  text-align: center;
  background-color: #2f2e2e;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 160px;
}

.wrapper {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

main,
aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.some-page-wrapper {
  margin: 15px;
  /* background-color: red; */
}

.rowsof2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
