/* body {
  background: url("../images/heroBuilding.png");
  background-position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
} */

h5 {
  margin-top: 12px;
  font-size: 12px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}
img {
  margin-right: 81px;
  width: 80px;
  height: 80px;
}

#loginLink {
  color: #ffffff;
  height: 0px;
}
#imgs {
  align-items: center;
  justify-content: center;
  display: flex;
}
.container {
  align-content: center;
  display: block;
}

.subscribeh2 {
  color: #0e5c89;
  font-size: 28px;
  margin-bottom: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 88px;
}

.appsh2 {
  color: #ffffff;
  font-size: 28px;
  padding-top: 80px;
  margin-bottom: 64px;
  align-items: center;
  justify-content: center;
  display: flex;
}

footer {
  background-color: #e8e8e8;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 29px;
  padding-bottom: 29px;
  /* padding-right: 695px;
  padding-left: 695px; */
}

#btn {
  background-color: #0e5c89;
  color: #ffffff;
  width: 165px;
  cursor: pointer;
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}

#btn:hover {
  border: 1px solid black;
}

#email-signup {
  padding-left: 20px;
  width: 276px;
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}

#skyline {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/heroBuilding.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 230px;
}

#apps {
  background-color: #2f2e2e;
}

.signup {
  display: block;
  text-align: center;
  margin-bottom: 90px;
}
